<mat-card style="margin: 40px;">
    <mat-card-header>
        <div mat-card-avatar>
            <mat-icon style="font-size: 40px;">add_box</mat-icon>
        </div>
        <mat-card-title>Cadastrar produto</mat-card-title>
        <mat-card-subtitle>Novo produto</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="produtoForm" style="padding: 20px;">
            <mat-form-field class="input" appearance="standard">
                <mat-label>Código do produto</mat-label>
                <input required formControlName="codigo" matInput placeholder="Código de 13 ou 8 digitos">
                <mat-hint 
                    style="color: #f44336;" 
                    *ngIf="produtoForm.get('codigo')?.status == 'INVALID' && produtoForm.get('codigo')?.touched">{{ validarCodigo() }}
                </mat-hint>
            </mat-form-field>
            <mat-form-field class="input" appearance="standard">
                <mat-label>Nome do produto</mat-label>
                <input required formControlName="nome" matInput placeholder="Digite o produto, marca, tipo de embalagem e quantidade">
                <mat-hint 
                    style="color: #f44336;" 
                    *ngIf="produtoForm.get('nome')?.status == 'INVALID' && produtoForm.get('nome')?.touched">{{ validarNome() }}
                </mat-hint>
            </mat-form-field>
            <mat-form-field class="input" appearance="standard">
                <mat-label>Valor</mat-label>
                <input type="text" mask="separator.2" separatorLimit="1000" thousandSeparator="." required formControlName="valor" matInput placeholder="Digite o valor do produto">
                <mat-hint 
                style="color: #f44336;" 
                *ngIf="produtoForm.get('valor')?.status == 'INVALID' && produtoForm.get('valor')?.touched">{{ validarValor() }}
            </mat-hint>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions style="margin: 20px;">
        <button (click)="cadastrarProduto()" mat-raised-button color="primary">Cadastrar</button>
        <button mat-raised-button color="basic">Limpar</button>
    </mat-card-actions>
</mat-card>